/* div {
    border: 2px solid #ff0000;
} */

.tutee-list {
    position: relative;
    min-height: 728.93px;
    min-width: 800px;
    width: 70%;
    max-width: 53rem;
    
    display: flex;
    flex-direction: column;
    padding: 10px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 100px;
    margin-bottom: 50px;

}

.search-component {
    height: 80px;
    width: 100%;
    border: 1px solid #ccc;
    /* border-radius: 8px; */
}

.tutee-list th, .tutee-list td {
    /* border: 1px solid #ccc; */
    padding: 8px;
    text-align: center;
    width: 20%;
}

.tutee-list th {
    font-weight: normal;
    color: #a4b5c9;
}

.tutees-table {
    border-collapse: separate;
    border-spacing: 0 10px;
    width: 100%;
    table-layout: fixed;
    border-radius: 8px;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
    padding: 0px 10px;
}

.table-container {
    position: relative;
}

.loading-overlay {
    --topSize: 60px;
    position: absolute;
    top: var(--topSize);
    left: 0;
    width: 100%;
    height: calc(100% - var(--topSize));
    border-radius: 8px;
    background-color: rgba(255, 255, 255, 0.867);
    backdrop-filter: blur(2px);
    z-index: 10;
}

.loading-overlay img {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 150px;
    height: 150px;
}

.tutee-card {
    background-color: #f9f9f9;
    border: 1px solid #ddd;
    border-radius: 8px; /* Rounded corners */
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.tutee-card td:first-child {
    border-top-left-radius: 8px;
    border-bottom-left-radius: 8px;
}

.tutee-card td:last-child {
    border-top-right-radius: 8px;
    border-bottom-right-radius: 8px;
}

.tutee-card:hover {
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); /* Enhanced shadow on hover */
    transition: box-shadow 0.3s ease;
}