[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
flask = "*"
python-dotenv = "*"
flask-bcrypt = "*"
psycopg2 = "*"
colorama = "*"
flask-cors = "*"
authlib = "*"
requests = "*"

[dev-packages]

[requires]
python_version = "3.13"
