.card-img-fixed {
    width: 19.25rem;
    height: 10rem;
    object-fit: cover;
    border-top-left-radius: 0.25rem;
    border-top-right-radius: 0.25rem;
}

.card-clickable {
    cursor: pointer;
}

.card {
    width: 19.25rem;
}