.tutor-notes-section {
    display: flex;
    flex-direction: column;
    align-items: center;   
    padding: 0px 100px;
}

.tutor-notes-section .accordion-button:focus {
    box-shadow: none !important;
    outline: none !important;
}
.tutor-notes-section .accordion-button:not(.collapsed) {
  background-color: inherit !important;
  color: inherit !important;
}

.tutor-notes-container {
    /* border: 1px solid blue; */
    max-width: 1400px;
    width: 100%;
    max-height: 800px;
    min-height: 300px;
    display: flex;
    flex-direction: row;
    /* gap: 10px; */

    border-radius: 8px;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);;
    padding: 20px 30px;
    padding-bottom: 10px;
}

.notes-posts-list {
    overflow-x: scroll;
    gap: 10px;
    display: flex;
    flex-direction: row;
    flex: 1;
    padding-top: 10px;
    height: fit-content;
}

.notes-posts-list::-webkit-scrollbar {
    display: none; /* Chrome, Safari, Opera */
}

.notes-posts-list:first-child {
    margin-top: 10px;
}

.note-post-card {
    border: 1px solid #ccc;
    border-radius: 8px;
    min-height: 250px;
    margin-bottom: 12px;
    /* padding: 15px 20px;
    padding-bottom: 0; */
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    width: 300px;
}

.note-post-card:hover {
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
    cursor: pointer;
}

.img-cards-tnl {
    display: flex;
    flex-direction: row;
    gap: 10px;
    overflow-x: scroll;
    scrollbar-width: none;
}

.img-card-tnl {
    min-width: 100px;
    max-width: 100px;
    height: 100px;
    border: 1px solid #ccc;
    border-radius: 4px;
    overflow: hidden;
    position: relative;
}

.img-card-overlay-tnl {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #00000051;
    backdrop-filter: blur(3px);
    z-index: 10;
    opacity: 0;
}

.img-card-tnl:hover {
    cursor: pointer;

    .img-card-overlay-tnl {
        opacity: 1;
    }
}

.note-overlay-bg {
    width: 100%;
    height: 100%;
    background-color: #00000051;
    position: fixed;
    top: 0; 
    left: 0; 
    right: 0; 
    bottom: 0;
    background: rgba(0,0,0,0.5);
    z-index: 99999;
    display: flex;
    align-items: center;
    justify-content: center;
}

.note-overlay-card {
    width: 100%;
    max-width: 670px;
    max-height: 600px;
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    max-height: 80%;
    overflow-y: auto;
}

.note-overlay-card h1, p {
    word-break: break-all;
}

.note-overlay-card p {
    white-space: pre-line;
}