.tutor-notes-section {
    display: flex;
    flex-direction: column;
    align-items: center;   
    padding: 0px 100px;
}

.tutor-notes-section .accordion-button:focus {
    box-shadow: none !important;
    outline: none !important;
}
.tutor-notes-section .accordion-button:not(.collapsed) {
  background-color: inherit !important;
  color: inherit !important;
}

.tutor-notes-container {
    /* border: 1px solid blue; */
    max-width: 796px;
    width: 100%;
    height: 800px;
    display: flex;
    flex-direction: column;
    /* gap: 10px; */

    border-radius: 8px;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);;
    padding: 20px 30px;
}

.notes-posts-list {
    overflow-y: scroll;
    gap: 10px;
    display: flex;
    flex-direction: column;
    flex: 1;
    padding-top: 10px;
}

.notes-posts-list:first-child {
    margin-top: 10px;
}

.note-post-card {
    border: 1px solid #ccc;
    border-radius: 8px;
    padding: 15px 20px;
    padding-bottom: 0;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.img-cards-tnl {
    display: flex;
    flex-direction: row;
    gap: 10px;
    overflow-x: scroll;
    scrollbar-width: none;
}

.img-card-tnl {
    min-width: 100px;
    max-width: 100px;
    height: 100px;
    border: 1px solid #ccc;
    border-radius: 4px;
    overflow: hidden;
    position: relative;
}

.img-card-overlay-tnl {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #00000051;
    backdrop-filter: blur(3px);
    z-index: 10;
    opacity: 0;
}

.img-card-tnl:hover {
    cursor: pointer;

    .img-card-overlay-tnl {
        opacity: 1;
    }
}